body {
    background-image: url('https://images.unsplash.com/photo-1617298748161-f59f6096f130?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    color: #231942;
}

h1 {
    text-align: center;
    color: #231942;
}

h2 {
    text-align: left;
    color: #231942;
}

h2:first-of-type {
    text-align: center;
    color: #f17300;
}

h3 {
    color: #735Cdd
}

p {
    color: #231942;
}

hr {
    background-color: #5932BB;
    height: 2px;
}

.white-space {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    margin: 0 auto;
    width: 70%;
}

.background {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}